INSERT INTO users (id, email, password, name, role, \
isActive\, \emailVerified\, \organizationId\, \createdAt\, \updatedAt\) VALUES ('test-user-2', 'test2@example.com', '\\\.3ArbFdUw5WjC', 'Test User 2', 'OWNER', true, true, 'test-org', NOW(), NOW()) ON CONFLICT (id) DO UPDATE SET password = EXCLUDED.password;
