{
  "openapi": "3.0.3",
  "info": {
    "title": "Sentinelle Reputation API",
    "description": "API de gestion de réputation en ligne - Niveau Production",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "support@sentinelle-reputation.com"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.sentinelle-reputation.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:5001/api/v1",
      "description": "Development server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "JWT access token. Obtenu via /auth/login ou /auth/refresh"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "VALIDATION_ERROR"
              },
              "message": {
                "type": "string",
                "example": "Validation failed"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@company.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "minLength": 8
          },
          "rememberMe": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "accessToken": {
            "type": "string",
            "description": "Token d'accès JWT (valide 15min)"
          },
          "refreshToken": {
            "type": "string",
            "description": "Token de refresh (valide 7 jours)"
          },
          "user": {
            "type": "object"
          }
        }
      },
      "RefreshTokenRequest": {
        "type": "object",
        "required": ["refreshToken"],
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "RefreshTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password", "firstName", "lastName"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password",
            "minLength": 8,
            "description": "Minimum 8 caractères, 1 majuscule, 1 minuscule, 1 chiffre, 1 caractère spécial"
          },
          "firstName": {
            "type": "string",
            "minLength": 2
          },
          "lastName": {
            "type": "string",
            "minLength": 2
          },
          "organizationName": {
            "type": "string"
          },
          "acceptTerms": {
            "type": "boolean"
          }
        }
      }
    }
  },
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Connexion utilisateur",
        "description": "Authentifie un utilisateur et retourne une paire de tokens JWT",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connexion réussie",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Identifiants invalides",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Trop de requêtes - Rate limit"
          }
        },
        "security": []
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Rafraîchir le token d'accès",
        "description": "Échange un refresh token contre un nouveau access token. Invalide automatiquement l'ancien refresh token (rotation).",
        "operationId": "refreshToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token rafraîchi avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Token expiré ou révoqué"
          },
          "403": {
            "description": "Compte désactivé"
          }
        },
        "security": []
      }
    },
    "/auth/logout": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Déconnexion",
        "description": "Révoque le refresh token et blackliste le token d'accès",
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "Déconnexion réussie"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/register": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Inscription utilisateur",
        "description": "Crée un nouveau compte utilisateur et organisation",
        "operationId": "register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Compte créé avec succès"
          },
          "409": {
            "description": "Email déjà utilisé"
          },
          "422": {
            "description": "Données invalides"
          }
        },
        "security": []
      }
    },
    "/auth/change-password": {
      "patch": {
        "tags": ["Authentication"],
        "summary": "Changer le mot de passe",
        "description": "Change le mot de passe de l'utilisateur connecté",
        "operationId": "changePassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currentPassword", "newPassword", "confirmNewPassword"],
                "properties": {
                  "currentPassword": {
                    "type": "string"
                  },
                  "newPassword": {
                    "type": "string"
                  },
                  "confirmNewPassword": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mot de passe changé"
          },
          "401": {
            "description": "Mot de passe actuel incorrect"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/me": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Récupérer le profil utilisateur",
        "description": "Retourne les informations de l'utilisateur connecté",
        "operationId": "getProfile",
        "responses": {
          "200": {
            "description": "Profil utilisateur"
          },
          "401": {
            "description": "Non authentifié"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/health": {
      "get": {
        "tags": ["System"],
        "summary": "Health check",
        "description": "Vérifie l'état de santé de l'API",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "Service opérationnel",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "uptime": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          }
        },
        "security": []
      }
    }
  },
  "tags": [
    {
      "name": "Authentication",
      "description": "Opérations d'authentification"
    },
    {
      "name": "System",
      "description": "Endpoints système"
    }
  ]
}
